@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff')
    format('woff');
}
* {
  font-family: Pretendard-Regular;
}
body {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

@layer components {
  .Body-lg {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.2px;
  }
  .Body-md {
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.2px;
  }
  .Body-xl {
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.2px;
  }
  .Display-xl {
    font-weight: bold;
    font-size: 48px;
    line-height: 60px;
    letter-spacing: -0.6px;
  }
  .Display-lg {
    font-weight: bold;
    font-size: 40px;
    line-height: 52px;
    letter-spacing: -0.6px;
  }
  .Display-md {
    font-weight: bold;
    font-size: 32px;
    line-height: 42px;
    letter-spacing: -0.4px;
  }
  .Display-sm {
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: -0.2px;
  }
  .Display-xl {
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: -0.2px;
  }
  .Headline-lg {
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0px;
  }
  .Headline-md {
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0px;
  }
  .SubHead-xl {
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.2px;
  }
  .SubHead-lg {
    font-weight: 600;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.6px;
  }
  .SubHead-md {
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.4px;
  }
  .SubHead-sm {
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.4px;
  }
}

main {
  position: relative;
  margin: 0 auto;
  padding-bottom: 200px;
}

.react-calendar-heatmap-month-label {
  color: #64748b;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0.2px;
}
.react-calendar-heatmap .color-empty,
.react-calendar-heatmap .color-scale-0 {
  fill: #ccd6e3;
}
.react-calendar-heatmap .color-scale-1 {
  fill: #fdddb8;
}
.react-calendar-heatmap .color-scale-2 {
  fill: #ffc07f;
}
.react-calendar-heatmap .color-scale-3 {
  fill: #ff7a35;
}
.react-calendar-heatmap .color-scale-4 {
  fill: #ff5500;
}
